.main-grid {
    display: grid;
}

.header {
    overflow: hidden;
    float: left;
    background-color: white;
    width: 100%;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align: center; 
}